/*
	project: web application template
	author: luka cvrk (www.solucija.com)
*/

*{ margin: 0; padding: 0; }*
body { margin: 50px 0 0; background: #fff url(../images/bg.gif) repeat-x; font: .74em "Trebuchet MS", Arial, Sans-Serif; color: #444; }
	h1 { font-size: 3em; font-weight: normal; float: left; }
	h1 a { text-decoration: none; }
	h2 { font-size: 2em; color: #FFF2B3; font-weight: normal; margin: 0 0 .8em; }
	h3 { font-size: 1.5em; border-bottom: 1px solid #eee; margin: 0 0 .8em; }
	p  { margin: 0 0 2em 0; line-height: 1.8em; }
	em { border-bottom: 1px dotted #fff; cursor: pointer; }
	a { color: #9D2900; }
	a:hover { color: #A0000E; text-decoration: none; }
	img { border: 0; }
	.red { color: #9D2900; }
	
.wrap { width: 900px; min-height:180px; margin: 0 auto; }
 
#header { width: 900px; height: 50px; margin: 0 auto; }

#headeral { width: 900px; height: 50px; margin: 0 auto; }

	#menu  { float: right; padding: 6px 0 0 0; list-style: none; }
		#menu li { display: inline; }
		#menu a { display: block; float: left; margin-left: 30px; padding: 7px; text-decoration: none; font-size: 13px; color: #000000; }
		#menu a:hover { color: #000; border-bottom: 2px solid #ccc; }
		#menu .active a { border-bottom: 2px solid #C70012; color: #9D2900;}
		
		#menuAl  { float: left; padding: 6px 0 0 0; list-style: none; width:700px; margin-top:25px; }
		#menuAl li { display: inline; }
		#menuAl a { display: block; float: left; margin-left: 10px; padding: 7px; text-decoration: none; font-size: 13px; color: white; }
		#menuAl a:hover { color: white; border-bottom: 2px solid #ccc; }
		#menuAl .active a { border-bottom: 2px solid #C70012; color: white;}
 
#teaser { clear: both; height: 259px; background: #fff url(../images/teaserbg.jpg) repeat-x; }

#teaseral { clear: both; height: 100px; background: #fff url(../images/teaserbg.jpg) repeat-x; }

	.box { float: left; padding: 66px 0 0; width: 480px; color: #C7E3EE; }
	#image { float: right; width: 388px; position: relative; top: 16px; background: url(../images/logotype.jpg) no-repeat top right; height: 258px; }
	
#bar { height: 40px; margin: 0 0 30px; padding: 8px 0 0 0; background: url(../images/bar.gif) repeat-x; }
	.step { cursor: pointer; color: #FAFDDD; padding: 4px 0 0 11px; margin: 0 35px 0 0; font-size: 1.4em; float: left; text-align: center; background: url(../images/step.gif) no-repeat; height: 30px; }
	.step a { color: #fff; margin: 0 10px 0 0; }
	
.col { float: left; width: 276px; margin: 0 30px 16px 0; }
	.last { float: right; margin: 0; }
	.info { border: 1px solid #e0e0e0; background: #f4f4f4; padding: 7px; }
 
#footer { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px;  }	
	#footer .right { float: right; margin: 0 55px 0 0; }
	#footer a { color: #808080; font-weight: bold; }
	 
	 
#footeral { clear: both; width: 900px; margin: 0 auto; padding: 15px; border-top: 1px solid #e0e0e0; background: #fff url(../images/small_logotype.jpg) no-repeat right 13px;  position:absolute; }	
	#footeral .right { float: right; margin: 0 55px 0 0; }
	#footeral a { color: #808080; font-weight: bold; }

	.Errormsg
{
font-size:10pt;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
line-height:11pt;
color:Red;
font-weight:bold; 
}
 
 
 .txtHTMLAPI
{
	width:597px;
	border:1px solid #6893d3;
    height: 146px;
}

.button {
   color: #FFFFFF;
	font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
 Font-Size:12px;
 Font-Weight:bold;
 vertical-align:bottom;
 text-align:center;
 padding:3px 5px;
 background:url(../images/Button_Bg.gif) repeat-x;
 height:28px;
border:#4CBDFD 1px solid;
}

.boxborder
{
border:1px solid #B2B2B2;
background:#FFFFFF;
color:#000000;
border-top:1px solid #B2B2B2; 
border-left: 1px solid #B2B2B2; 
border-right: 1px solid #B2B2B2; 
border-bottom: 1px solid #B2B2B2; 
font-size:10pt;
font-weight:500;
text-indent:10px;
margin:10px auto;
line-height:20pt; 
text-align:right;
}

.boxborder1
{
border:0px solid #B2B2B2;
background:#FFFFFF;
color:#000000; 
font-size:10pt;
font-weight:500;
text-indent:10px;
margin:10px auto; 
line-height:20pt; 
text-align:right;
min-height:500px;
}
.tdMainHeader
{
	background:url(../images/Main_Hdr_Bg.gif) repeat-x;

width:100%;	
height:28px;
padding:0px;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:12pt;
font-weight:600;
color:#000000;
text-align:center; 
}


.GridStyle
{
border:1px  solid #C2C4C7;
border-width:1px;
border-bottom:0px;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
background:#FFFFFF;
text-align:left;


} 

.GridStyle td
{
border:1px  solid #C2C4C7;
border-bottom:1px solid #cee3ed;
padding:0px 0px 0px 0px;
text-align:left;

}


.GridHeader
{

font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
text-align:center;
background:#371c95;
color:#FFFFFF;
background:#616161;
height:28px;

}

.GridHeader td
{
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;

}

.AlternateStyle
{
background:#DFE7F1;
color:black;	
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
height:25px;
text-align:left;
}