

.chromestyle{
width: 99%;
font:normal 12px Verdana;
font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
/*border: 1px solid #BBB;*/
width: 100%;
background:url(../Style/images/chromebg.gif) left repeat-x; /*THEME CHANGE HERE*/
padding-left:10px;
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/

}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #FFFFFF;
padding: 4px 8px;
margin: 0;
text-decoration: none;
border-right: 1px solid #DADADA;

}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
/*background: url(../Style/images/chromebg-over.gif)  repeat-x;*/
color:#4CBDFD; /*THEME CHANGE HERE*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
/*border: 1px solid #BBB;*/ /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
text-align:left;
padding-left:5px;


visibility: hidden;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 2px;
/*border-bottom: 1px solid #BBB;*/ /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}