
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd,   blockquote,  
pre, input, form, fieldset, textarea, select, table, th, td {
 margin: 0; 
 padding: 0;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:12px/13pt;

	}
	

h1, h2, h3, h4, h5, h6
{
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
color:#3C5B59;
font-size:small;
}

h1{ 
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
 font-size:16pt;
color:#2C6230;
}
h2{ 

font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:14pt;
color:#2C6230;
text-align:left;
}


* {
margin:0; 
padding:0; 
}
html>body
{
	height:100%;
}
html, body, #Wrapper { height: 100%; }
body > #Wrapper { height: auto; min-height: 100%; }


html, body {
height:100%; 
background:#C9C9C9;/* c0d6e0,d6d7d9;*/
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;

color:#999999;
overflow:inherit;
}

#Wrapper {
min-height:300px; /* gives layout 100% height */
height:auto !important;
height:100%;
width:100%; /* centered div must be given a width */
margin:0 auto; /* centers #wrapper */
background:#FFFFFF;
padding-bottom:10px;
}
* html #Wrapper 
{
min-height:300px !important;
height:auto !important;

height:100%; /* IE6 treats height as min-height */
}

#Top_Header{
background:url(../images/Top_Header_Bg.gif) repeat-x;
width:100%;
height:80px;
}
.logo{
float:left;
width:100px;
height:80px;
}

.logo1{
float:right;
margin:30px 20px 0px 0px;
width:814px;
direction:rtl;
}

#Menu_Header
{
	
	background:url(../images/Menu_Bg.gif) repeat-x;
	
	width:100%;
	height:28px;
}


#Footer {
width:100%;
height:28px;
margin:0px auto;
background:url(../images/Footer_Bg.gif) repeat-x;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:9pt;
color:#666666;
text-align:center;
}
.clear {
	    clear: both;
	    display: block;
	    height: 1px;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	}

#FormInner_Container{
	width:100%;
	margin:30px auto 0px auto;
  padding-bottom:30px;
  height:auto;
min-height:420px;
height:auto !important;
}


.MenuContainer{
float:left;
width:750px;
height:28px;
clear:both;
}
.Inner{
width:100%;
margin:0px auto;
}




/* Login */
#Login_Wrapper{
width:100%;
margin:0px auto;
}
#Login_Container
	{
min-height:500px;
height:500px !important;
width:100%; 
margin:0 auto; 
padding-bottom:0px;
margin: 0 auto;
background:url(../images/Login_Bg.gif) repeat-x;

}

.LCL
{
	float:left;
	width:312px;
	height:500px;
	background:url(../images/Lock.gif) no-repeat;
}
.LCR
{
	float:right;
	width:312px;
}
.LCM
{
float:left;
	width:332px;
	height:auto;
	margin:0px auto;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
font-weight:600;
color:#FFFFFF;
line-height:18pt;
}
	
	.Login_Top{
background:url(../images/Login_01.gif) no-repeat;
width:328px;
height:37px;
float:left;
margin:0px 0px 0px 0px;

}
	.Login_Top1{
background:url(../images/Login_02.gif) no-repeat;
width:328px;
height:53px;
float:left;


}
.Login_Left{
background:url(../images/Login_03.gif) no-repeat;
width:30px;
height:213px;
float:left;
}
.Login_Right{
background:url(../images/Login_06.gif) no-repeat;
width:32px;
height:213px;
float:left;
}
.Login_Mid{
background:url(../images/Login_04.gif) repeat-x;
width:266px;
height:213px;
float:left;
}
	

/* Login */

/*Form Style*/

.Errormsg
{
font-size:10pt;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
line-height:11pt;
color:Red;
font-weight:bold; 
}
.txtHTMLAPI
{
	width:597px;
	border:1px solid #6893d3;
    height: 146px;
}

.button {
   color: #FFFFFF;
	font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
 Font-Size:12px;
 Font-Weight:bold;
 vertical-align:bottom;
 text-align:center;
 padding:3px 5px;
 background:url(../images/Button_Bg.gif) repeat-x;
 height:28px;
border:#4CBDFD 1px solid;
}

.boxborder
{
border:1px solid #B2B2B2;
background:#FFFFFF;
color:#000000;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
font-weight:500;
text-indent:10px;
margin:0px auto;
line-height:20pt;

text-align:right;
    width: 100%;
}
.tdMainHeader
{
	background:url(../images/Main_Hdr_Bg.gif) repeat-x;

width:100%;	
height:28px;
padding:0px;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:12pt;
font-weight:600;
color:#000000;
text-align:center; 
}


.GridStyle
{
border:1px  solid #C2C4C7;
border-width:1px;
border-bottom:0px;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
background:#FFFFFF;
text-align:left;


} 

.GridStyle td
{
border:1px  solid #C2C4C7;
border-bottom:1px solid #cee3ed;
padding:0px 0px 0px 0px;
text-align:left;

}


.GridHeader
{

font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;
text-align:center;
background:#371c95;
color:#FFFFFF;
background:#616161;
height:28px;

}

.GridHeader td
{
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
font-weight:bold;

}

.AlternateStyle
{
background:#DFE7F1;
color:black;	
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:10pt;
height:25px;
text-align:left;
}

/*Form Style*/