﻿.boxborder
{
border:1px solid #B2B2B2;
background:#FFFFFF;
color:#000000;
border-top:1px solid #B2B2B2; 
border-left: 1px solid #B2B2B2; 
border-right: 1px solid #B2B2B2; 
border-bottom: 1px solid #B2B2B2; 
font-size:10pt;
font-weight:500;
text-indent:10px;
margin:0px auto;
line-height:20pt; 
text-align:right;
}

.boxborder1
{
border:0px solid #B2B2B2;
background:#FFFFFF;
color:#000000; 
font-size:10pt;
font-weight:500;
text-indent:10px;
margin:0px auto; 
line-height:20pt; 
text-align:right;
min-height:500px;
}


        p.MsoNormal
        {
            margin-top: 0in;
            margin-right: 0in;
            margin-bottom: 10.0pt;
            margin-left: 0in;
            line-height: 115%;
            font-size: 10.0pt; 
        }
        
        
      
        .button
        {
            color: #FFFFFF;
            font-family: Trebuchet MS, Arial, Verdana, Geneva, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
            vertical-align: bottom;
            text-align: center;
            padding: 3px 5px;
            background: url(../images/Button_Bg.gif) repeat-x;
            border: #4CBDFD 1px solid;
        }
        
        .link
        {
            color: White;
            font: arial;
            font-family:Verdana;
            font-size: 10.0pt; 
            font-weight: bold;
            text-decoration: none; 
        }
        .tbl 
        {
            width:auto;
        }
        .tbl tr td
        {
            border:none 0px;
            text-align:center;
            width:100px;
            
        }
        
        .Errormsg
        { 
            font-size:small;
            	font-family:Verdana;
            line-height: 11pt;
            color: Red;
            font-weight: bold;
        }
        
        .tdMainHeader
{
	background:url(../images/Main_Hdr_Bg.gif) repeat-x;

width:100%;	
height:28px;
padding:0px;
font-family:Trebuchet MS, Arial, Verdana, Geneva,  Helvetica, sans-serif;
font-size:12pt;
font-weight:600;
color:#000000;
text-align:center; 
}
#FormInner_Container{
	width:930px;
	margin:30px auto 0px auto;
  padding-bottom:30px;
  height:auto;
min-height:420px;
height:auto !important;
}