﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/Admin.master" AutoEventWireup="true" CodeFile="AdminReports.aspx.cs" Inherits="Forms_AdminReports" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
  
    <div width="100%" align="center">
        <asp:GridView ID="gvData" runat="server" 
            EmptyDataText="No Pending Images Found">  
             
        </asp:GridView>
    </div> 
</asp:Content>
