﻿<%@ Page Language="C#" MasterPageFile="~/MasterPages/ClientBot.master" AutoEventWireup="true" CodeFile="BotUser.aspx.cs" Inherits="Forms_BotUser" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

